.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2.4s linear forwards infinite;
    animation: fadeinout 2.4s linear forwards infinite;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}